/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-black dark:text-white;
  }
}


@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    width: 0px;
  }
}



@layer components {
  .btn {
    @apply flex items-center justify-center
      rounded cursor-pointer font-medium
      p-2 whitespace-nowrap leading-none transition;
  }
  .btn-primary {
    @apply btn
      bg-blue-500 hover:bg-blue-600 text-white
      dark:bg-blue-700 dark:hover:bg-blue-800;
  }
  .btn-secondary {
    @apply btn
      bg-blue-500 bg-opacity-20 hover:bg-blue-100 text-blue-500
      dark:border-blue-700 dark:hover:bg-blue-900;
  }
  .btn-tertiary {
    @apply btn
      bg-gray-200 hover:bg-gray-300 text-black dark:text-white
      dark:bg-gray-800 dark:hover:bg-gray-700;
  }
  .btn-error{
    @apply btn
      bg-red-200 hover:bg-red-300
      dark:bg-gray-800 dark:hover:bg-gray-700;
  }
  .btn-disabled, .btn-primary[disabled]{
    @apply btn
      cursor-default focus:outline-none
      bg-gray-300 hover:bg-gray-300
      dark:bg-gray-800 dark:hover:bg-gray-800;
  }
}

body {
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
}

body.modal-open {
  overflow: hidden;
}

.dark .MuiSwitch-track {
  background-color: white;
}

.vaults {
  display: grid;
  grid-template-columns: repeat(5, 200px);
}
details > summary {
    list-style: none;
}
details > summary::marker {
    display: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
summary{
    outline:none;
}
